
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  
  * {
    margin: 0;
  }
  
  body {
    
    line-height: 1.5;
    
    -webkit-font-smoothing: antialiased;
  }
  
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  
  input, button, textarea, select {
    font: inherit;
  }
  
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  
  #root, #__next {
    isolation: isolate;
  }


  .container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
  }

  .sidebar {
    background-color: rgb(221, 168, 221);
    display: grid;
  }

  .content {
    background-color: rgb(184, 241, 184);
  }

  .sb-items {
    display: flex;
    flex-direction: column;
    margin: .8rem;
    
    
   
  }

  .add-task {
    
    
  }

  .my-projects {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
  }

  .top-row {
    display: flex;
    justify-content: space-between;
  }

  .title {
    
  }

  .project-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
  }


  .dialog {
    margin: 50px auto;
  }

  .dialog form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .Pdialog {
    margin: 400px auto;
  }

  .show-tasks {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
  }

  .proj-title {
    /* margin: 20px; */
    grid-column: 2/12;

  }

  .task-group {
    grid-column: 3/15;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* background-color: rgb(226, 224, 224); */
    margin: 10px;
    padding: 10px;
  }

  .task-item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: rgb(246, 244, 244);
    
  }

  .add-task-list {
    margin: 10px 50px;
  }

  .tasks {
    margin: 10px;
    padding: 10px;
  }


  .sb-pn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }

  .del-btn {
    border: none;
    
    border-radius: 5px;
  }

  .del-btn img {
    width: 24px;
    height: 24px;
}

  .del-btn:hover {
    background-color: rgb(232, 255, 127);
  }
